<!-- Toolbar -->
<div class="toolbar" role="banner">
    <img width="40" alt="Hiring Logo" src="../../assets/images/H.svg" style="    filter: brightness(0) invert(1);
        width: 5%;" />
    <div class="spacer"></div>
    <div class="input-group rounded" style="width: 14%;padding-right: 1%;">
        <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search"
            aria-describedby="search-addon" />
    </div>
    <a aria-label="twitter" target="_blank" rel="noopener" routerLink="/jobDetails" title="Twitter">
        <mat-icon style="color: white;">search</mat-icon>
    </a>
    <div style="width: 2%;"></div>
</div>
<svg class="svgWaves" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
    <path fill="#1976d2" fill-opacity="1"
        d="M0,320L48,293.3C96,267,192,213,288,213.3C384,213,480,267,576,261.3C672,256,768,192,864,192C960,192,1056,256,1152,277.3C1248,299,1344,277,1392,266.7L1440,256L1440,0L1392,0C1344,0,1248,0,1152,0C1056,0,960,0,864,0C768,0,672,0,576,0C480,0,384,0,288,0C192,0,96,0,48,0L0,0Z">
    </path>
</svg>

<div class="content" role="main">
    <div class="container">
        <div class="row">
            <div class="col-12 offset-3">
                <p style="font-size: 70px;">Mes Offres</p>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div style="height: 212px;"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <mat-card class="example-card">
                    <img mat-card-image src="../../assets/images/12.jpg" width="500px" height="150px"
                        alt="Photo of a Shiba Inu">
                    <mat-card-content style="height: 50px;">
                        <p>
                            Administration, finance et gestion
                        </p>
                    </mat-card-content>
                    <mat-card-actions>
                        <button mat-button>browse</button>
                    </mat-card-actions>
                </mat-card>
            </div>
            <div class="col-4">
                <mat-card class="example-card">
                    <img mat-card-image src="../../assets/images/22.jpg" width="500px" height="150px"
                        alt="Photo of a Shiba Inu">
                    <mat-card-content style="height: 50px;">
                        <p>
                            Arts et communication
                        </p>
                    </mat-card-content>
                    <mat-card-actions>
                        <button mat-button>browse</button>
                    </mat-card-actions>
                </mat-card>
            </div>
            <div class="col-4">
                <mat-card class="example-card">
                    <img mat-card-image src="../../assets/images/23.jpg" width="500px" height="150px"
                        alt="Photo of a Shiba Inu">
                    <mat-card-content style="height: 50px;">
                        <p>
                            Sciences pures et appliquées et ingénierie
                        </p>
                    </mat-card-content>
                    <mat-card-actions>
                        <button mat-button>browse</button>
                    </mat-card-actions>
                </mat-card>
            </div>
        </div>
    </div>
</div>
<footer>
    <div style="height: 150px;"></div>
</footer>
<router-outlet></router-outlet>